<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Siêu Thị Mẹ Bầu Và Bé Toàn Quốc</title>
        <link rel="stylesheet" href="./asset/css/reset.css" />
        <link rel="stylesheet" href="/asset/css/index.css" />
        <script src="/js/scripts.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
      </head>
<body>
    <footer class="footer_inner">
        <div class="footer">
          <div class="common">
            <div class="footer-detail">
              <div class="footer-top">
                <div class="block">
                  <img src="./source/ft1.png" alt="">
                  <span>Cùng Ba Mẹ <br> Nuôi Con</span>
                </div>
    
                <div class="block">
                  <img src="./source/ft2.png" alt="">
                  <span>Cùng Ba Mẹ <br> Nuôi Con</span>
                </div>
    
                <div class="block">
                  <img src="./source/ft3.png" alt="">
                  <span>Cùng Ba Mẹ <br> Nuôi Con</span>
                </div>
    
                <div class="block">
                  <img src="./source/ft4.png" alt="">
                  <span>Cùng Ba Mẹ <br> Nuôi Con</span>
                </div>
    
                <div class="block">
                  <img src="./source/ft5.png" alt="">
                  <span>Cùng Ba Mẹ <br> Nuôi Con</span>
                </div>
              </div>


              <div class="footer-bottom">
                <div class="footer-left">
                  <h4>Công ty cổ phần Con Cưng</h4>
                  <span>Thành viên của tập đoàn CCI Group</span>
                  <li><strong>Email:</strong> cskh@concung.com</li>
                  <li><strong>Điện Thoại:</strong> 028 7300 6609</li>
                  <li><strong>DKKD</strong>66 Nguyễn Du, phường Bến Nghé<br> Quận 1, Tp. Hồ Chí Minh</li>
                  <li><strong>Tòa Nhà: </strong> Tầng 14 Tòa nhà Phú Mỹ Hưng Tower <br> 08 Hoàng Văn Thái, P.Tân Phú, Q.7, HCM</li>
                </div>
                <div class="footer-left">
                  <a href="/Contact.html"><h4>Hỗ trợ khách hàng</h4></a>
                  <li>Tra cứu hoá đơn</li>
                  <li>Mua & giao nhận Online</li>
                  <li>Qui định & hình thức thanh toán</li>
                  <li>Bảo hành & Bảo trì</li>
                  <li>Đổi trả & Hoàn tiền</li>
                </div>
                <div class="footer-left">
                  <h4>Chấp nhận thanh toán</h4>
                  <div class="left">
                    <img src="./source/fttt1.png" alt="">
                    <img src="./source/fttt2.png" alt="">
                    <img src="./source/fttt3.png" alt="">
                    <img src="./source/fttt4.png" alt="">
                    <img src="./source/fttt5.png" alt=""><br>
                    <img src="./source/fttt6.png" alt="">
                    <img src="./source/fttt7.png" alt="">
                    <img src="./source/fttt8.png" alt="">
                    <img src="./source/fttt9.png" alt="">
                    <img src="./source/fttt10.png" alt="">
                  </div>
                  <h4 class = "deliver">Đối tác vận chuyển</h4>
                  <div class="left">
                    <img src="./source/grap.png" alt="">
                    <img src="./source/ahamove.png" alt="">
                  </div>
                </div>

                <div class="footer-right">
                  <h4>Tải ứng dụng - Ưu đãi đến 1 triệu, <br>Dành cho ba mẹ mới</h4>
                  
                  <div class="right-detail">
                    <img class="footer-QR" src="./source/maQR.svg" alt="">
                    <div class="img-foo">
                      <img class="footer-device" src="./source/app-ios.png" alt="">
                      <img class="footer-device" src="./source/app-android.png" alt="">
                    </div>
                  </div>

                  <h4 class="title">Kết nối với chúng tôi</h4>
                  
                  <div class="connect">
                    <img src="./source/facebook.png" alt="">
                    <img src="./source/zalo.png" alt="">
                    <img src="./source/youtube.png" alt="">
                  </div>
                </div>
              </div>

              <div class="copyright">
                <i class="fa-regular fa-copyright"></i>
                <p>2023 Con Cưng. Tất cả các quyền được bảo lưu.</p>
              </div>
            </div> 
          </div>
        </div>
      </footer>
</body>
</html>