*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.common{
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.blog-title{
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    padding: 15px 15px 15px 15px;
    width: 1200px;
    border-radius: 999px;
    margin-top: 20px;
}

.blog-title a{
    margin-right: 10px;
}

.blog-title i{
    padding-right: 10px;
}

.blog-dl{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 12px;
}

.bg-dl{
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.blog{
    flex-basis: 32%;
    background-color: #fff;
    margin-left: 15px;
    /* padding: 10px; */
    margin-top: 15px;
    border-radius: 10px;
}

.blog img{
    height: 200px;
    width: 350px;
    border-radius: 12px;
}

.blog-name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    width: 350px;
    line-height: 20px;
}

.blog-des{
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #707070;
    width: 350px;
    line-height: 25px;
}