.content {
    width: 1366px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.col-8 {
    width: 67%;
}

.col-4 {
    width: 35%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 46px;
    padding: 0 20px;
    border-radius: 8px;

    background: #f8f8fb;

    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
}

.btn-primary {
    color: #171c28;
    background: #ff379b;
}

.btn-outline {
    background: transparent;
    border: 1px solid #d2d1d6;
}

.btn-rounded {
    border-radius: 999px;
}

.button:hover {
    opacity: 0.9;
}

.btn-small {
    height: 40px;
    padding: 0 16px;
}


a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    background: transparent;
}

html {
    font-size: 62.5%;
}
